In [261]:
import tensorflow

In [262]:
import pandas as pd

In [263]:
file = r'Car_Purchasing_Data.csv'
df = pd.read_csv (file,sep=',',encoding="ISO-8859-1")
print (df)

       Customer Name  ... Car Purchase Amount
0      Martina Avila  ...         35321.45877
1      Harlan Barnes  ...         45115.52566
2    Naomi Rodriquez  ...         42925.70921
3    Jade Cunningham  ...         67422.36313
4       Cedric Leach  ...         55915.46248
..               ...  ...                 ...
495           Walter  ...         48901.44342
496            Vanna  ...         31491.41457
497            Pearl  ...         64147.28888
498             Nell  ...         45442.15353
499            Marla  ...         45107.22566

[500 rows x 9 columns]

In [264]:
df.describe()

           Gender         Age  ...       Net Worth  Car Purchase Amount
count  500.000000  500.000000  ...      500.000000           500.000000
mean     0.506000   46.241674  ...   431475.713625         44209.799218
std      0.500465    7.978862  ...   173536.756340         10773.178744
min      0.000000   20.000000  ...    20000.000000          9000.000000
25%      0.000000   40.949969  ...   299824.195900         37629.896040
50%      1.000000   46.049901  ...   426750.120650         43997.783390
75%      1.000000   51.612263  ...   557324.478725         51254.709517
max      1.000000   70.000000  ...  1000000.000000         80000.000000

[8 rows x 6 columns]

In [265]:
y=df['Car Purchase Amount']

In [266]:
data=['Gender','Age','Annual Salary','Credit Card Debt','Net Worth']

In [267]:
X=df[data]

In [268]:
X.describe()

           Gender         Age  Annual Salary  Credit Card Debt       Net Worth
count  500.000000  500.000000     500.000000        500.000000      500.000000
mean     0.506000   46.241674   62127.239608       9607.645049   431475.713625
std      0.500465    7.978862   11703.378228       3489.187973   173536.756340
min      0.000000   20.000000   20000.000000        100.000000    20000.000000
25%      0.000000   40.949969   54391.977195       7397.515792   299824.195900
50%      1.000000   46.049901   62915.497035       9655.035568   426750.120650
75%      1.000000   51.612263   70117.862005      11798.867487   557324.478725
max      1.000000   70.000000  100000.000000      20000.000000  1000000.000000

In [269]:
from sklearn.model_selection import train_test_split

In [270]:
# split data into training and validation data, for both features and target
# The split is based on a random number generator. 

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [271]:
train_X

     Gender        Age  Annual Salary  Credit Card Debt    Net Worth
239       1  45.138518    62939.12851        632.052852  455589.7973
59        1  42.241817    55207.45679       9976.434857  286062.5162
406       0  56.672562    58653.65910      17142.413320  201228.0206
391       1  55.576969    46412.82136      11652.272900  595028.8431
411       1  44.099227    67121.32166      12087.381160  472403.1231
..      ...        ...            ...               ...          ...
323       0  33.811252    49607.23466       9344.323770  290711.8670
192       0  38.551020    69248.49530       6445.784981  298246.0609
117       0  34.681961    84171.16719      12719.644150  244310.5736
47        0  51.168139    57478.37922       2230.096344  158979.7102
172       0  40.142348    71148.20248       7917.650970  416817.4673

[375 rows x 5 columns]

In [272]:
#Task: First, Build a Regression model on it.

In [273]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [274]:
#Create a model and fit it

model = LinearRegression()

In [275]:
# Fit model
model.fit(train_X, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [276]:
print("Making predictions for the following 5 attributes:")
print(X.head())
print("The predictions for Car Purchase Amount are")
print(model.predict(X.head()))

Making predictions for the following 5 attributes:
   Gender        Age  Annual Salary  Credit Card Debt    Net Worth
0       0  41.851720    62812.09301      11609.380910  238961.2505
1       0  40.870623    66646.89292       9572.957136  530973.9078
2       1  43.152897    53798.55112      11160.355060  638467.1773
3       1  58.271369    79370.03798      14426.164850  548599.0524
4       1  57.313749    59729.15130       5358.712177  560304.0671
The predictions for Car Purchase Amount are
[35320.79655152 45115.083696   42926.1054499  67424.43532344
 55913.13658313]

In [277]:
# predicting values for testing data
predicted_Y_values=model.predict(val_X)

In [278]:
predicted_Y_values

array([38951.86396887, 43401.57434815, 29415.20862516, 52151.43361867,
       38241.48698162, 53014.7400238 , 60528.33896249, 59538.51436672,
       37714.36905143, 31300.0995159 , 46847.92953641, 56973.65712936,
       53993.67173046, 70879.5503164 , 27887.74106607, 31528.26866091,
       47979.96596909, 58668.61760607, 42371.75978038, 10091.7120819 ,
       48516.50048414, 37181.76539953, 46324.42870746, 27589.65662982,
       68925.59785699, 43897.70252868, 43405.14460289, 46714.19065273,
       61594.52132752, 58235.09313229, 48515.15390116, 42591.76916491,
       54757.72748272, 42774.39621607, 63081.68529879, 60117.5093786 ,
       35716.68974198, 59983.88281176, 42794.43318512, 42998.47287793,
       59621.6900494 , 34215.74093002, 30421.1227859 , 37304.22552814,
       41355.05851352, 45115.083696  , 44577.3779106 , 53497.83733058,
       38175.01807336, 33637.72798318, 35727.78073355, 41027.76487476,
       50188.43430828, 53658.10448647, 39765.68929603, 28699.65143151,
       43503.98197406, 57430.80002836, 45507.96893063, 59095.29285219,
       38502.77882193, 48025.15383609, 42703.44880345, 47720.29670344,
       42321.21052553, 49721.95953432, 59045.90521864, 28165.93130971,
       39550.28210627, 50956.82244137, 44419.18417327, 52952.76417331,
       23519.34125972, 56510.76018202, 49049.88623502, 30963.45030632,
       54014.84312351, 57442.18279831, 52786.11133764, 28440.01196157,
       63252.92735198, 50705.85343095, 55168.04796119, 41674.70134047,
       31087.39610617, 36545.92047517, 48465.20776276, 38170.99154965,
       49345.56179204, 31979.71296053, 61119.65406721, 38140.09016734,
       37257.32670408, 36086.19617336, 30721.0835805 , 38547.03381934,
       47381.48269534, 41148.68802783, 37349.12064761, 32478.35534743,
       34642.86433089, 45859.53114884, 49372.65955587, 35138.3641288 ,
       28924.10787913, 37376.52446463, 51940.63999374, 47009.99457437,
       63036.36033143, 31838.36671107, 52709.18608451, 47434.80115456,
       39412.67542336, 48011.66563476, 51049.57414218, 35473.3697517 ,
       55701.15549117, 57460.16984944, 55126.25850395, 60866.97807156,
       32061.12250773, 48734.77521688, 33130.28696872, 48956.34451761,
       33763.53624355])

In [279]:
from sklearn.metrics import mean_absolute_error

In [280]:
#calculating the mean absolute error
mean_absolute_error(val_y,predicted_Y_values)

1.2119637125016307